$darkgrayBorderColor: #DADADA;
$darkergrayBorderColor: #a8a8a8;
$lightgrayBorderColor: #EDEDED;
$grayTextColor: #878787;
$darkGrayTextColor: #575757;
$grayPatientInfoColor: #353535;
$greenHappyColor: rgb(0,151,103);
$orangeWorryingColor: rgb(245, 174, 0);
$viollierRedColor: rgb(228, 1, 52);
$redDangerousColor: $viollierRedColor;
$commentGrayColor: #9d9d9d;
$resultHoverBackground: rgb(254, 242, 240);
$grayBackgroundColor: #f8f8f8;
$dropdownBorderColor: #c6c6c6;
